.gallery,
.gallery ol,
.gallery li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.gallery .gallery-row {
  display: flex;
  margin-bottom: 10px;
}
.gallery .gallery-row:last-child {
  margin-bottom: 0;
}
.gallery .gallery-row li {
  margin-right: 10px;
  width: 100%;
}
.gallery .gallery-row li:last-child {
  margin-right: 0;
}
.gallery img {
  display: block;
  width: 100%;
}
body {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: normal;
  background-color: white;
}
.site-content {
  max-width: 800px;
  margin: 20px auto;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
