/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  margin: 0;
}
a {
  text-decoration: none;
}
.styleguide--item {
  border: 1px solid #cccccc;
  background-color: #e6e6e6;
  min-width: 40%;
}
.styleguide--item *,
.styleguide--item {
  color: #cccccc;
  text-align: center;
}
.styleguide__block {
  display: block;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
body.style-guide .s-prose {
  border: 1px dotted #cccccc;
  position: relative;
}
body.style-guide .s-prose:before {
  content: 'scope: s-prose';
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
}
body.style-guide .s-meta {
  border: 1px dotted #90c5e9;
  position: relative;
}
body.style-guide .s-meta:before {
  content: 'scope: s-meta';
  position: absolute;
  top: 0;
  right: 0;
  color: #90c5e9;
}
.layout--column {
  max-width: 52.5rem;
  margin: 20px;
  margin: 1.25rem;
}
@media screen and (min-width: 860px) {
  .layout--column {
    margin: 32px auto;
    margin: 2rem auto;
  }
}
.layout--grid {
  max-width: 79.375rem;
  margin: 20px;
  margin: 1.25rem;
}
@media screen and (min-width: 980px) {
  .layout--grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 32px auto;
    margin: 2rem auto;
  }
  .layout--grid-span1,
  .layout--grid-span2 {
    border: 0.2px solid transparent;
  }
  .layout--grid-span1 {
    max-width: 400px;
    -webkit-flex-shrink: 70;
        -ms-flex-negative: 70;
            flex-shrink: 70;
  }
  .layout--grid-span2 {
    max-width: 840px;
    -webkit-flex-shrink: 30;
        -ms-flex-negative: 30;
            flex-shrink: 30;
  }
}
.push--left {
  float: left;
  margin: 0 16px 0 0;
  margin: 0 1rem 0 0;
}
.push--right {
  float: right;
  margin: 0 0 0 16px;
  margin: 0 0 0 1rem;
}
.pull--left {
  margin-left: -20px;
  margin-left: -1.25rem;
  float: left;
  margin-right: 16px;
  margin-right: 1rem;
}
.pull--right {
  margin-right: -20px;
  margin-right: -1.25rem;
  float: right;
  margin-left: 16px;
  margin-left: 1rem;
}
.pull--both,
.pull--extended {
  margin-left: -20px;
  margin-left: -1.25rem;
  margin-right: -20px;
  margin-right: -1.25rem;
}
@media screen and (min-width: 1000px) {
  .pull--left {
    margin-left: -70px;
    margin-left: -4.375rem;
  }
  .pull--right {
    margin-right: -70px;
    margin-right: -4.375rem;
  }
  .pull--both,
  .pull--extended {
    margin-left: -70px;
    margin-left: -4.375rem;
    margin-right: -70px;
    margin-right: -4.375rem;
  }
}
@media screen and (min-width: 1290px) {
  .pull--extended {
    margin-left: -215px;
    margin-left: -13.4375rem;
    margin-right: -215px;
    margin-right: -13.4375rem;
  }
}
.repel--none {
  margin-bottom: 0;
}
.repel--1 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.repel--2 {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}
.repel--3 {
  margin-bottom: 96px;
  margin-bottom: 6rem;
}
.s-prose a,
.s-prose a:visited {
  -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
  color: #3a99d9;
  border-bottom: 1px solid #3a99d9;
}
.s-prose a:hover,
.s-prose a:focus {
  color: #144566;
}
.s-prose h1 a,
.s-prose h2 a,
.s-prose h3 a,
.s-prose h4 a,
.s-prose h5 a,
.s-prose h6 a,
.s-prose h1 a:visited,
.s-prose h2 a:visited,
.s-prose h3 a:visited,
.s-prose h4 a:visited,
.s-prose h5 a:visited,
.s-prose h6 a:visited {
  border: none;
}
.s-prose em,
.s-prose i {
  font-style: italic;
}
.s-prose strong,
.s-prose b {
  font-weight: bold;
}
.s-prose em strong,
.s-prose i strong,
.s-prose em b,
.s-prose i b,
.s-prose strong em,
.s-prose strong i,
.s-prose b em,
.s-prose b i {
  font-style: italic;
  font-weight: bold;
}
.s-prose > figure,
.s-prose > .gallery,
.s-prose > img,
.s-prose p,
.s-prose > ul,
.s-prose > ol,
.s-prose hr,
.s-prose table {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.s-prose ul {
  list-style: disc;
}
.s-prose ul ul {
  list-style: circle;
}
.s-prose ul ul ul {
  list-style: square;
}
.s-prose ol {
  list-style: decimal;
}
.s-prose ol ol {
  list-style: lower-roman;
}
.s-prose ol ol ol {
  list-style: lower-latin;
}
.s-prose ul ul,
.s-prose ul ol,
.s-prose ol ol,
.s-prose ol ul {
  margin-left: 3em;
}
.s-prose > ul,
.s-prose > ol {
  list-style-position: inside;
}
@media screen and (min-width: 960px) {
  .s-prose > ul,
  .s-prose > ol {
    list-style-position: outside;
  }
}
.s-prose img {
  display: block;
  width: 100%;
}
.s-prose figure {
  border-bottom: 1px solid #e6e6e6;
}
.s-prose figure figcaption {
  font-size: 70%;
  line-height: 2.46153846;
  color: #cccccc;
  font-style: italic;
}
.s-prose > img,
.s-prose > .gallery {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.s-prose blockquote {
  padding-left: 2em;
  border-left: 3px solid #cccccc;
}
.s-prose blockquote p,
.s-prose blockquote ul,
.s-prose blockquote ol,
.s-prose blockquote dl,
.s-prose blockquote table {
  color: #666666;
}
.s-prose p > code {
  color: #ed3046;
  margin: 0 .1em;
}
.s-prose table {
  border-collapse: collapse;
  font-size: 80%;
}
.s-prose td,
.s-prose th {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: .5em .7em;
}
.s-prose th {
  font-weight: bold;
  border-bottom: 2px solid #b3b3b3;
}
.s-meta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
}
.s-meta > p {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.gallery {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.gallery ol,
.gallery li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.gallery .gallery-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.gallery .gallery-row:last-child {
  margin-bottom: 0;
}
.gallery .gallery-row li {
  margin-right: 10px;
  width: 100%;
}
.gallery .gallery-row li:last-child {
  margin-right: 0;
}
.gallery .gallery-row a {
  display: block;
  position: relative;
  color: white;
  border: none;
}
.gallery img {
  display: block;
  width: 100%;
}
.gallery .gallery-item-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.gallery .u-meta {
  color: rgba(255, 255, 255, 0.8);
}
.gallery .gallery-item-title {
  color: white;
}
.gallery .gallery-item-title {
  color: white;
}
.tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border-top: 1px solid #f2f2f2;
  padding: 16px 0;
  padding: 1rem 0;
  padding-bottom: 0;
  font-size: 80%;
}
.tags li {
  border-radius: 5px;
  border: 1px solid #fac812;
  background-color: #fcdf76;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-right: .5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.tags a {
  color: #715902;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: .3em .7em;
}
.tags a:hover {
  background-color: #fbd344;
}
.tags .tag-count {
  padding: .3em .7em;
  display: block;
  background-color: #fbd344;
  color: #d4a705;
}
.calendar {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.calendar ol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  clear: both;
}
.calendar li {
  width: 33.33333333%;
}
@media screen and (min-width: 860px) {
  .calendar li {
    width: 20%;
  }
}
.calendar a {
  display: block;
  position: relative;
}
.calendar img {
  display: block;
  max-width: 100%;
}
.calendar time {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: .5em;
}
.calendar .calendar-title {
  font-size: 70%;
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.teaser {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 32px;
  padding: 0 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
  margin-bottom: 2rem;
  border: 1px solid #e6e6e6;
}
.teaser .teaser-header {
  margin-left: -32px;
  margin-right: -32px;
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.teaser .teaser-header {
  padding: 16px 32px;
  padding: 1rem 2rem;
  background: #f2f2f2;
  font-size: 80%;
  text-transform: uppercase;
}
.teaser .teaser-footer {
  margin-left: -32px;
  margin-right: -32px;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 32px 32px;
  padding: 2rem 2rem;
  border-top: 1px solid #e6e6e6;
}
.teaser figcaption {
  padding: 0 32px;
  padding: 0 2rem;
}
.teaser.teaser--diary .teaser-header {
  background-color: #e5f2fa;
}
.teaser.teaser--notes .teaser-header {
  background-color: #fef6da;
}
.teaser.teaser--gallery .teaser-header {
  background-color: #fdecee;
}
.u-quiet {
  color: #cccccc;
  font-size: 90%;
}
.u-quiet a,
.u-quiet a:visited {
  color: #cccccc;
  border-bottom: 1px solid #bfbfbf;
}
.u-meta {
  color: #e6e6e6;
  font-size: 70%;
  text-transform: uppercase;
}
.u-meta a,
.u-meta a:visited {
  color: #b3b3b3;
  border-bottom: none;
}
.u-meta time {
  color: #b3b3b3;
}
.u-centre {
  text-align: center;
}
.u-highlight {
  background-color: #fcdf76;
}
.u-snug {
  margin-bottom: 0;
}
.u-snug + * {
  margin-top: 0;
}
body {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Charter", "Baskerville", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  color: #333;
}
@media screen and (min-width: 860px) {
  body {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.68421053;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.tags,
.u-meta,
.teaser .teaser-header {
  font-family: "Whitney SSm A", "Whitney SSm B", "Seravek", "GillSans", sans-serif;
}
code {
  font-family: 'Menlo', monospace;
  font-size: 80%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 32px;
  margin-top: 2rem;
}
h1,
.h1 {
  font-size: 31px;
  font-size: 1.9375rem;
  line-height: 1.5483871;
}
h2,
.h2 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 1.92;
}
h3,
.h3 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.77777778;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  color: #333;
  text-transform: uppercase;
}
@media screen and (min-width: 860px) {
  h1,
  .h1 {
    font-size: 43px;
    font-size: 2.6875rem;
    line-height: 1.26511628;
  }
  h2,
  .h2 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.4;
  }
  h3,
  .h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 2.18181818;
  }
}
p,
ul,
ol,
dl,
table {
  color: #333;
}
abbr {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  cursor: help;
}
abbr:hover {
  background-color: #fef6da;
}
hr {
  border-top: 2px dashed #cccccc;
  border-bottom: none;
}
body.home {
  background-color: #F9F9F9;
}
