/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  margin: 0;
}
a {
  text-decoration: none;
}
.styleguide--item {
  border: 1px solid #cccccc;
  background-color: #e6e6e6;
  min-width: 40%;
}
.styleguide--item *,
.styleguide--item {
  color: #cccccc;
  text-align: center;
}
.styleguide__block {
  display: block;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
body.style-guide .s-prose {
  border: 1px dotted #cccccc;
  position: relative;
}
body.style-guide .s-prose:before {
  content: 'scope: s-prose';
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
}
body.style-guide .s-meta {
  border: 1px dotted #56baff;
  position: relative;
}
body.style-guide .s-meta:before {
  content: 'scope: s-meta';
  position: absolute;
  top: 0;
  right: 0;
  color: #56baff;
}
.layout--column {
  max-width: 45rem;
  margin: 20px;
  margin: 1.25rem;
}
@media screen and (min-width: 740px) {
  .layout--column {
    margin: 32px auto;
    margin: 2rem auto;
  }
}
.layout--grid {
  max-width: 79.375rem;
  margin: 20px;
  margin: 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  box-sizing: border-box;
}
.layout--grid-span1,
.layout--grid-span-2,
.layout--grid-span-half,
.layout--grid-span {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.layout--grid-span-micro {
  -webkit-flex-basis: 10%;
      -ms-flex-preferred-size: 10%;
          flex-basis: 10%;
}
.layout--grid-span-micro img {
  max-width: 100%;
  display: block;
}
@media screen and (min-width: 980px) {
  .layout--grid {
    margin: 32px auto;
    margin: 2rem auto;
  }
  .layout--grid-span1 > *,
  .layout--grid-span-2 > *,
  .layout--grid-span-half > * {
    margin: 0 10px;
    margin: 0 0.625rem;
  }
  .layout--grid-span1 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
  }
  .layout--grid-span-2 {
    -webkit-flex-basis: 66.66666667%;
        -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
  }
  .layout--grid-span-half {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .layout--grid-span {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .layout--grid-span-micro {
    -webkit-flex-basis: 6.66666667%;
        -ms-flex-preferred-size: 6.66666667%;
            flex-basis: 6.66666667%;
  }
}
.push--left {
  float: left;
  margin: 0 16px 0 0;
  margin: 0 1rem 0 0;
}
.push--right {
  float: right;
  margin: 0 0 0 16px;
  margin: 0 0 0 1rem;
}
.pull--left {
  margin-left: -20px;
  margin-left: -1.25rem;
  float: left;
  margin-right: 16px;
  margin-right: 1rem;
}
.pull--right {
  margin-right: -20px;
  margin-right: -1.25rem;
  float: right;
  margin-left: 16px;
  margin-left: 1rem;
}
.pull--both,
.pull--extended {
  margin-left: -20px;
  margin-left: -1.25rem;
  margin-right: -20px;
  margin-right: -1.25rem;
}
@media screen and (min-width: 1000px) {
  .pull--left {
    margin-left: -130px;
    margin-left: -8.125rem;
  }
  .pull--right {
    margin-right: -130px;
    margin-right: -8.125rem;
  }
  .pull--both,
  .pull--extended {
    margin-left: -130px;
    margin-left: -8.125rem;
    margin-right: -130px;
    margin-right: -8.125rem;
  }
}
@media screen and (min-width: 1290px) {
  .pull--extended {
    margin-left: -275px;
    margin-left: -17.1875rem;
    margin-right: -275px;
    margin-right: -17.1875rem;
  }
}
.repel--none {
  margin-bottom: 0;
}
.repel--1 {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.repel--2 {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}
.repel--3 {
  margin-bottom: 96px;
  margin-bottom: 6rem;
}
.s-prose a,
.s-prose a:visited {
  text-decoration: underline;
}
.s-prose h1 a,
.s-prose h2 a,
.s-prose h3 a,
.s-prose h4 a,
.s-prose h5 a,
.s-prose h6 a,
.s-prose h1 a:visited,
.s-prose h2 a:visited,
.s-prose h3 a:visited,
.s-prose h4 a:visited,
.s-prose h5 a:visited,
.s-prose h6 a:visited {
  text-decoration: none;
}
.s-prose > figure:not(.gallery-container),
.s-prose > .gallery,
.s-prose > img,
.s-prose p,
.s-prose > ul,
.s-prose > ol,
.s-prose hr,
.s-prose table {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.s-prose ul {
  list-style: disc;
}
.s-prose ul ul {
  list-style: circle;
}
.s-prose ul ul ul {
  list-style: square;
}
.s-prose ol {
  list-style: decimal;
}
.s-prose ol ol {
  list-style: lower-roman;
}
.s-prose ol ol ol {
  list-style: lower-latin;
}
.s-prose ul ul,
.s-prose ul ol,
.s-prose ol ol,
.s-prose ol ul {
  margin-left: 3em;
}
.s-prose > ul,
.s-prose > ol {
  list-style-position: inside;
}
@media screen and (min-width: 840px) {
  .s-prose > ul,
  .s-prose > ol {
    list-style-position: outside;
  }
}
.s-prose img {
  display: block;
  width: 100%;
}
.s-prose figure figcaption {
  font-size: 70%;
  line-height: 2.46153846;
  color: #cccccc;
  font-style: italic;
  border-bottom: 1px solid #e6e6e6;
}
.s-prose > img,
.s-prose > .gallery {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.s-prose blockquote {
  padding-left: 2em;
  border-left: 3px solid #cccccc;
}
.s-prose blockquote p,
.s-prose blockquote ul,
.s-prose blockquote ol,
.s-prose blockquote dl,
.s-prose blockquote table {
  color: #666666;
}
.s-prose p > code {
  color: #ff0033;
  margin: 0 .1em;
}
.s-prose table {
  border-collapse: collapse;
  font-size: 80%;
}
.s-prose td,
.s-prose th {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  padding: .5em .7em;
}
.s-prose th {
  font-weight: bold;
  border-bottom: 2px solid #b3b3b3;
}
.s-meta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
}
.s-meta > p {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.gallery {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.gallery ol,
.gallery li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.gallery .gallery-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.gallery .gallery-row:last-child {
  margin-bottom: 0;
}
.gallery .gallery-row li {
  margin-right: 10px;
  width: 100%;
}
.gallery .gallery-row li:last-child {
  margin-right: 0;
}
.gallery .gallery-row a {
  display: block;
  position: relative;
  color: white;
  border: none;
}
.gallery img {
  display: block;
  width: 100%;
}
.gallery .gallery-item-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.gallery .u-meta {
  color: rgba(255, 255, 255, 0.8);
}
.gallery .gallery-item-title {
  color: white;
}
.gallery .gallery-item-title {
  color: white;
}
.tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border-top: 1px solid #f2f2f2;
  padding: 16px 0;
  padding: 1rem 0;
  padding-bottom: 0;
  font-size: 80%;
}
.tags li {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-right: 20px;
  margin-right: 1.25rem;
  color: #b3b3b3;
}
.tags li:before {
  content: "#";
}
.tags a {
  color: #b3b3b3;
}
.calendar {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.calendar ol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  clear: both;
}
.calendar li {
  width: 33.33333333%;
}
@media screen and (min-width: 740px) {
  .calendar li {
    width: 20%;
  }
}
.calendar a {
  display: block;
  position: relative;
}
.calendar img {
  display: block;
  max-width: 100%;
}
.calendar time {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: .5em;
}
.calendar .calendar-title {
  font-size: 70%;
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.teaser {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 2rem;
  background-color: white;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.teaser figure,
.teaser .gallery {
  margin-left: -2rem;
  margin-right: -2rem;
}
.teaser .teaser-footer {
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 2rem 2rem;
  border-top: 1px solid #e6e6e6;
}
.teaser figcaption {
  padding: 0 2rem;
}
.teaser .teaser-header {
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 1rem 2rem;
}
.teaser .teaser-header,
.teaser .teaser-header a {
  color: white;
}
.teaser.section-diary .teaser-header {
  background-color: #008eef;
  border-bottom: 1px solid #0070bc;
}
.teaser.section-notes .teaser-header {
  background-color: #ecb538;
  border-bottom: 1px solid #dc9f15;
}
.teaser.section-gallery .teaser-header {
  background-color: #ff0033;
  border-bottom: 1px solid #cc0029;
}
@media screen and (min-width: 45rem) {
  .teaser {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.pagination {
  border-top: 1px solid #f2f2f2;
  padding: 16px 0;
  padding: 1rem 0;
}
.pagination li,
.pagination .pagination-label,
.pagination a {
  display: block;
}
.pagination .pagination-next {
  text-align: right;
  margin-left: auto;
}
@media screen and (min-width: 720px) {
  .pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.quicklinks li {
  display: inline-block;
  font-size: 90%;
  color: #808080;
}
.quicklinks li:after {
  content: "/";
  padding: 0 8px;
  padding: 0 0.5rem;
  color: #d9d9d9;
}
.quicklinks li:last-child:after {
  display: none;
}
.quicklinks time {
  font-size: 70%;
}
.archive-meta span:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #008eef;
  margin: 0 10px;
}
.archive-meta .archive-meta-diary:before {
  background-color: #008eef;
}
.archive-meta .archive-meta-gallery:before {
  background-color: #ff0033;
}
.archive-meta .archive-meta-notes:before {
  background-color: #ecb538;
}
.site-navigation {
  border-bottom: 1px solid white;
  background-color: #333;
}
.site-navigation ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1270px;
  max-width: 79.375rem;
}
.site-navigation a {
  display: block;
  color: white;
  padding: 1rem 0;
}
.site-navigation .nav-home svg {
  width: 50px;
  height: 50px;
  display: block;
}
.site-navigation #roo-logo {
  fill: white;
}
.pagetype-diary .site-navigation a,
.pagetype-gallery .site-navigation a,
.pagetype-notes .site-navigation a {
  color: white;
}
.pagetype-diary .site-navigation {
  background-color: #008eef;
  border-color: #0070bc;
}
.pagetype-gallery .site-navigation {
  background-color: #ff0033;
  border-color: #cc0029;
}
.pagetype-notes .site-navigation {
  background-color: #ecb538;
  border-color: #dc9f15;
}
.u-quiet {
  color: #cccccc;
  font-size: 90%;
}
.u-quiet a,
.u-quiet a:visited {
  color: #cccccc;
  border-bottom: 1px solid #bfbfbf;
}
.u-meta {
  color: #b3b3b3;
  font-size: 70%;
  text-transform: uppercase;
}
.u-meta a,
.u-meta a:visited {
  color: #b3b3b3;
  border-bottom: none;
}
.u-centre {
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.u-highlight {
  background-color: #ecb538;
}
.u-snug {
  margin-bottom: 0;
}
.u-snug + * {
  margin-top: 0;
}
figure,
.gallery {
  position: relative;
}
.u-figure-count {
  position: absolute;
  font-size: 80%;
  color: white;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0.625rem;
  right: 0.625rem;
}
.u-breadcrumb {
  color: #999999;
  font-size: 80%;
}
.s-prose .u-breadcrumb {
  margin-bottom: 0;
}
body {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Charter", "Baskerville", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  color: #333;
}
@media screen and (min-width: 740px) {
  body {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.68421053;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.tags,
.u-meta,
.teaser .teaser-header,
.u-figure-count {
  font-family: "Whitney SSm A", "Whitney SSm B", "Seravek", "GillSans", sans-serif;
}
code {
  font-family: 'Menlo', monospace;
  font-size: 80%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 32px;
  margin-top: 2rem;
}
h1,
.h1 {
  font-size: 31px;
  font-size: 1.9375rem;
  line-height: 1.22580645;
}
h2,
.h2 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 1.32;
}
h3,
.h3 {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.31578947;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  color: #333;
  text-transform: uppercase;
}
@media screen and (min-width: 740px) {
  h1,
  .h1 {
    font-size: 43px;
    font-size: 2.6875rem;
    line-height: 1.3255814;
  }
  h2,
  .h2 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.40625;
  }
  h3,
  .h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.22727273;
  }
}
p,
ul,
ol,
dl,
table {
  color: #333;
}
abbr {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  cursor: help;
}
abbr:hover {
  background-color: #e6e6e6;
}
hr {
  border-top: 2px dashed #cccccc;
  border-bottom: none;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
em strong,
i strong,
em b,
i b,
strong em,
strong i,
b em,
b i {
  font-style: italic;
  font-weight: bold;
}
a {
  -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
  color: #333;
}
.section-diary a {
  color: #008eef;
}
.section-diary a:hover {
  color: #003356;
}
.section-notes a {
  color: #ecb538;
}
.section-notes a:hover {
  color: #7f5c0c;
}
.section-gallery a {
  color: #ff0033;
}
.section-gallery a:hover {
  color: #660014;
}
a.link-diary {
  color: #008eef;
}
a.link-diary:hover {
  color: #003356;
}
a.link-gallery {
  color: #ff0033;
}
a.link-gallery:hover {
  color: #660014;
}
a.link-notes {
  color: #ecb538;
}
a.link-notes:hover {
  color: #7f5c0c;
}
body.page-home,
body.page-diary,
body.page-gallery,
body.page-notes {
  background-color: #f1f1f1;
}
