//global base size
@base:                      16;

//baseline grid
@lineheight:                32;
@paragraph:                 16;

//large screen baseline grid
@ls_paragraph:              19;


//layouts
@layout_narrow:             720; //the max width for text 
@layout_medium:             980; //the next step up
@layout_wide:              1270; //max site width, never stretch beyond this.

@layout_gap:                20; //how much room should these layouts get when they're at 100%


//colours
@blue:                      #008eef;
@grey:                      #cccccc;
@red:                       #ff0033;
@yellow:                    #ECB538;

@lightgrey:                 #f1f1f1;

//includes
@import '__includes/reset';
@import '__includes/mixins';
@import '__includes/styleguide';

//layouts
@import '_layouts/layouts';
@import '_layouts/push-pull';

//scopes
@import '_scopes/s-prose';
@import '_scopes/s-meta';

//components
@import '_components/gallery';
@import '_components/tags';
@import '_components/calendar';
@import '_components/teasers';
@import '_components/pagination';
@import '_components/quicklinks';
@import '_components/archive-meta';

@import '_components/site-navigation';

//utilities
@import '_utilities/utilities';

//type
@import '_typography/typography';

body.page-home,
body.page-diary,
body.page-gallery,
body.page-notes {
    background-color: @lightgrey;
}