---
layout: default
title: Home
---

{% for post in site.posts limit:20 %}
    <article class="repel--2 teaser">
        <div class="s-prose">
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p class="u-quiet">Published <time>{{ post.date | date date: "%A, %B %e %Y" }}</time>, in {{ post.categories[0] }}</p>
            
            {% if post.categories[0] == 'notes' %}
                {% assign numberOfImages = post.images | size %}
                {% if numberOfImages > 1 %}
                    <div class="gallery">
                        <ol class="gallery-row">
                            {% for image in post.images %}
                            {% capture fullImagePath %}{{ site.roobottom_assets }}/notes/medium/{{ image }}{% endcapture %}
                            <li class="gallery-item"><img src="{{ fullImagePath }}" class="gallery-image" width="
                            
                            {% for exif in site.data.notes %}
                                {% if exif.SourceFile == image %}
                                    {{ exif.ImageWidth }}
                                {% endif %}
                            {% endfor %}
                            
                            "/></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <figure class="">
                        <img src="{{ site.roobottom_assets }}/notes/large/{{ post.images[0] }}"/>
                    </figure>
                {% endif %}
            {% endif %}
            
            {% if post.categories[0] == 'gallery' %}
                <div class="gallery">
                    <ol class="gallery-row">
                        {% for image in post.images limit:9 %}
                        {% capture fullImagePath %}{{ site.roobottom_assets }}/gallery/medium/{{ image.image }}{% endcapture %}
                        <li class="gallery-item"><img src="{{ fullImagePath }}" class="gallery-image"/></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            {{ post.content }}
            <p><a href="{{ site.baseurl }}{{{ post.url }}">See all {{ post.images | size }} images in this gallery</a></p>
        </div>
        <footer class="s-meta">
            <ul class="tags">
            {% for tag in post.tags %}
                <li><a href="{{ site.baseurl }}{/archives">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </footer>
    </article>
{% endfor %}
<div class="s-prose">
    <p>Read more in the <a href="{{ site.baseurl }}{/arvives">archives</a>.</p>
</div>