---
layout: default
title: Home
---

<h1 class="u-centre">Welcome to roobottom.com</h1>

<section class="layout--grid">
    <div class="layout--grid-span-2">
        {% for post in site.categories.diary limit:1 %}
            <article class="s-prose teaser teaser--diary">
                <header class="teaser-header">Latest from  /<a href="{{ site.baseurl }}/diary">diary</a></header>
                <figure>
                    <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.roobottom_assets }}/{{ post.categories[0] }}/large/{{ post.images[0].image }}" /></a>
                </figure>
                <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
                <p class="u-meta"><time>{{ post.date | date date: "%A, %B %e %Y" }}</time></p>
                {{ post.excerpt }}
                <footer class="teaser-footer"><a href="{{ site.baseurl }}{{ post.url }}">Read this article</a></footer>
            </article>
        {% endfor %}
    </div>
    <div class="layout--grid-span1">
        {% for post in site.categories.notes limit:1 %}
        
            {% capture count %}{{ post.images | size }}{% endcapture %}
        
            <article class="s-prose teaser teaser--notes">
                <header class="teaser-header">Latest from  /<a href="{{ site.baseurl }}/notes">notes</a></header> 
                <figure>
                    <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.roobottom_assets }}/{{ post.categories[0] }}/small/{{ post.images[0] }}" /></a>
                    <div class="u-figure-count">{{ count }} image{% if count != '1' %}s{% endif %}</div>
                </figure>
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="u-meta"><time>{{ post.date | date date: "%A, %B %e %Y" }}</time></p>
            </article>
            
        {% endfor %}
        
        {% for post in site.categories.gallery limit:1 %}
        
            <article class="s-prose teaser teaser--gallery">
                <header class="teaser-header">Latest from  /<a href="{{ site.baseurl }}/gallery">gallery</a></header> 
                <div class="gallery">
                    <ol class="gallery-row">
                        {% for image in post.images limit:5 %}
                            {% capture width %}{{ image.width }}{% endcapture %}
                            {% capture height %}{{ image.height }}{% endcapture %}
                            <li class="gallery-item">
                                <a href="{{ site.baseurl }}{{ post.url }}">
                                    <img src="{{ site.roobottom_assets }}/{{ post.categories[0] }}/small/{{ image.image }}" data-width="{{ width }}" data-height="{{ height }}" class="gallery-image"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="u-meta"><time>{{ post.date | date date: "%A, %B %e %Y" }}</time> &mdash; {{ post.images | size }} images</p>
            </article>
            
        {% endfor %}
        
        
    </div>
</section>