/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  margin: 0;
}
a {
  text-decoration: none;
}
.styleguide--item {
  border: 1px solid #cccccc;
  background-color: #e6e6e6;
  min-width: 40%;
}
.styleguide--item *,
.styleguide--item {
  color: #cccccc;
  text-align: center;
}
.styleguide__block {
  display: block;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.s-prose {
  border: 1px dotted #cccccc;
  position: relative;
}
.s-prose:before {
  content: 'scope: s-prose';
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
}
.s-meta {
  border: 1px dotted #90c5e9;
  position: relative;
}
.s-meta:before {
  content: 'scope: s-meta';
  position: absolute;
  top: 0;
  right: 0;
  color: #90c5e9;
}
.layout--posts {
  max-width: 41.875rem;
  margin: 20px;
  margin: 1.25rem;
}
@media screen and (min-width: 690px) {
  .layout--posts {
    margin: 32px auto;
    margin: 2rem auto;
  }
}
.push--left {
  float: left;
  margin: 0 16px 0 0;
  margin: 0 1rem 0 0;
}
.push--right {
  float: right;
  margin: 0 0 0 16px;
  margin: 0 0 0 1rem;
}
.pull--left {
  margin-left: -20px;
  margin-left: -1.25rem;
  float: left;
  margin-right: 16px;
  margin-right: 1rem;
}
.pull--right {
  margin-right: -20px;
  margin-right: -1.25rem;
  float: right;
  margin-left: 16px;
  margin-left: 1rem;
}
.pull--both {
  margin-left: -20px;
  margin-left: -1.25rem;
  margin-right: -20px;
  margin-right: -1.25rem;
}
.pull--extended {
  margin-left: -26.07142857%;
  margin-right: -26.07142857%;
}
@media screen and (min-width: 1000px) {
  .pull--left {
    margin-left: -155px;
    margin-left: -9.6875rem;
  }
  .pull--right {
    margin-right: -155px;
    margin-right: -9.6875rem;
  }
  .pull--both {
    margin-left: -155px;
    margin-left: -9.6875rem;
    margin-right: -155px;
    margin-right: -9.6875rem;
  }
}
@media screen and (min-width: 1420px) {
  .pull--extended {
    margin-left: -365px;
    margin-left: -22.8125rem;
    margin-right: -365px;
    margin-right: -22.8125rem;
  }
}
.s-prose {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.68421053;
}
.s-prose a:not(.tag) {
  -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
  background-image: -webkit-linear-gradient(bottom, white, white 2px, #3a99d9 2px, #3a99d9 3px, white 3px);
  background-image: linear-gradient(to top, white, white 2px, #3a99d9 2px, #3a99d9 3px, white 3px);
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  text-decoration: none;
  color: #333;
}
.s-prose a:hover,
.s-prose a:focus {
  color: #247fbc;
}
.s-prose em,
.s-prose i {
  font-style: italic;
}
.s-prose strong,
.s-prose b {
  font-weight: bold;
}
.s-prose em strong,
.s-prose i strong,
.s-prose em b,
.s-prose i b,
.s-prose strong em,
.s-prose strong i,
.s-prose b em,
.s-prose b i {
  font-style: italic;
  font-weight: bold;
}
.s-prose > figure,
.s-prose > .gallery,
.s-prose > img,
.s-prose p,
.s-prose > ul,
.s-prose > ol,
.s-prose hr {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.s-prose ul:not(.tags) {
  list-style: disc;
}
.s-prose ul:not(.tags) ul {
  list-style: circle;
}
.s-prose ul:not(.tags) ul ul {
  list-style: square;
}
.s-prose ol {
  list-style: decimal;
}
.s-prose ol ol {
  list-style: lower-roman;
}
.s-prose ol ol ol {
  list-style: lower-latin;
}
.s-prose ul ul,
.s-prose ul ol,
.s-prose ol ol,
.s-prose ol ul {
  margin-left: 3em;
}
.s-prose img {
  display: block;
  max-width: 100%;
}
.s-prose figure {
  border-bottom: 1px solid #e6e6e6;
}
.s-prose figure figcaption {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2.46153846;
  color: #cccccc;
  font-style: italic;
}
.s-prose > img,
.s-prose > .gallery {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.s-prose hr {
  border-top: 2px dashed #cccccc;
  border-bottom: none;
}
.s-prose blockquote {
  padding-left: 2em;
  border-left: 3px solid #cccccc;
}
.s-prose blockquote p,
.s-prose blockquote ul,
.s-prose blockquote ol,
.s-prose blockquote dl,
.s-prose blockquote table {
  color: #666666;
}
.s-prose code {
  font-family: 'source code', monospace;
  font-feature-setting: 'liga' 0;
}
.s-prose p > code {
  color: #ed3046;
  margin: 0 .1em;
}
.s-meta {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.68421053;
}
.s-meta > p {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.gallery {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.gallery ol,
.gallery li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.gallery .gallery-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.gallery .gallery-row:last-child {
  margin-bottom: 0;
}
.gallery .gallery-row li {
  margin-right: 10px;
  width: 100%;
}
.gallery .gallery-row li:last-child {
  margin-right: 0;
}
.gallery img {
  display: block;
  width: 100%;
}
.tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-size: 80%;
}
.tags li {
  float: left;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.tags a {
  background-color: #fcdf76;
  color: #8e7003;
  text-shadow: 0 1px 0 white;
  padding: .5em;
  border-radius: 5px;
  margin: 0 .5em 0 0;
  display: block;
  border: 1px solid #fbd344;
  border-bottom-width: 2px;
}
.tags a:before {
  content: "#";
  color: #d4a705;
  text-shadow: none;
}
.calendar {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.calendar ol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.calendar li {
  width: 14.28571429%;
}
.calendar a {
  display: block;
}
.calendar img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Sentinel SSm A", "Sentinel SSm B";
}
h1,
h2,
h3,
h4,
h5,
h6,
time {
  font-family: "Whitney SSm A", "Whitney SSm B";
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
h2,
h3,
h4,
h5,
h6 {
  margin-top: 32px;
  margin-top: 2rem;
}
h1 {
  font-size: 58px;
  font-size: 3.625rem;
  line-height: 1.10344828;
}
h2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.4;
}
h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.18181818;
}
h4,
h5,
h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  color: #333;
  text-transform: uppercase;
}
time {
  font-size: 14px;
  line-height: 2.28571429;
  color: #cccccc;
  text-transform: uppercase;
}
p,
ul,
ol,
dl,
table {
  color: #333;
}
abbr {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  cursor: help;
}
abbr:hover {
  background-color: #fef6da;
}
.u-quiet {
  color: #cccccc;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2.46153846;
  text-transform: uppercase;
}
.u-center {
  text-align: center;
}
.u-underline {
  border-bottom: 1px solid #65afe1;
  box-sizing: border-box;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
.u-snug {
  margin-bottom: 0;
}
.u-snug + * {
  margin-top: 0;
}
