.u-quiet {
    color: @grey;
    font-size: 90%;
    
    a, a:visited {
        color: @grey;
        border-bottom: 1px solid darken(@grey,5%);
    }
}

.u-meta {
    color: lighten(@grey,10%);
    font-size: 70%;
    text-transform: uppercase;
    
    a, a:visited {
        color: darken(@grey,10%);
        border-bottom: none;
    }
    
    time {
       color: darken(@grey,10%); 
    }
}

.u-centre {
    text-align: center;
}

.u-highlight {
    background-color: @yellow;    
}

.u-snug {
    margin-bottom: 0;
}
.u-snug + * {
    margin-top: 0;
}