{% for image in page.images %}
    {% if image.set == include.set %}
        {% assign image = image.image %}
        {% assign caption = image.caption %}      
    {% endif %}
{% endfor %}

<figure class="{{ include.class }}">
    {% if include.image_size %}
            {% assign image_size = include.image_size %}
        {% else %}
            {% assign image_size = "large" %}
        {% endif %}
    <img src="{{ site.roobottom_assets }}/{{ page.categories[0] }}/{{ image_size }}/{{ image }}"/>
    {% if caption and caption != "" %}
        <figcaption>{{ caption }}</figcaption>  
    {% endif %}
</figure>