<nav class="site-navigation">
    <ul>
        <li class="nav-home"><a href="{{ site.baseurl }}/">{% include _assets/roo-logo.svg %}</a></li>
        <li class="nav-diary"><a href="{{ site.baseurl }}/diary">Diary</a></li>
        <li class="nav-notes"><a href="{{ site.baseurl }}/notes">Notes</a></li>
        <li class="nav-gallery"><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
        <li class="nav-archives"><a href="{{ site.baseurl }}/archives">Archives</a></li>
        <li class="nav-about"><a href="{{ site.baseurl }}/about">About</a></li>
    </ul>
</nav>