//single column

.layout--column {
    max-width: unit(@layout_narrow/@base,rem);
    margin: unit(@layout_gap,px);
    margin: unit(@layout_gap/@base,rem);
}

@media screen and (min-width:unit((@layout_narrow + @layout_gap),px)) {
    .layout--column {
        margin: unit(@lineheight,px) auto;
        margin: unit(@lineheight/@base,rem) auto;
    }
}

//grid

.layout--grid {
    max-width: unit(@layout_wide/@base,rem);
    margin: unit(@layout_gap,px);
    margin: unit(@layout_gap/@base,rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;      
}

.layout--grid-span1,
.layout--grid-span-2,
.layout--grid-span-half,
.layout--grid-span {
    flex-basis: 100%;
}

.layout--grid-span-micro {
    flex-basis: 100%/10;
    img {
        max-width: 100%;
        display: block;
    }
}



@media screen and (min-width:unit(@layout_medium,px)) {
    .layout--grid {
        
        margin: unit(@lineheight,px) auto;
        margin: unit(@lineheight/@base,rem) auto;
    }
    .layout--grid-span1,
    .layout--grid-span-2,
    .layout--grid-span-half {
        > * {
            margin: 0 unit(@layout_gap/2,px);
            margin: 0 unit(@layout_gap/@base/2,rem);
        }
    }
    
    
    .layout--grid-span1 {
        flex-basis: 100%/3;
    }
    .layout--grid-span-2 {
        flex-basis: (100%/3) * 2;
    }
    .layout--grid-span-half {
        flex-basis: 50%;
    }
    .layout--grid-span {
        flex-basis: 100%;
    }
    
    .layout--grid-span-micro {
        flex-basis: 100%/20;
    }
    
}