//single column

.layout--column {
    max-width: unit(@layout_narrow/@base,rem);
    margin: unit(@layout_gap,px);
    margin: unit(@layout_gap/@base,rem);
}

@media screen and (min-width:unit((@layout_narrow + @layout_gap),px)) {
    .layout--column {
        margin: unit(@lineheight,px) auto;
        margin: unit(@lineheight/@base,rem) auto;
    }
}

//grid

.layout--grid {
    max-width: unit(@layout_wide/@base,rem);
    
    margin: unit(@layout_gap,px);
    margin: unit(@layout_gap/@base,rem);      
}



@media screen and (min-width:unit(@layout_medium,px)) {
    .layout--grid {
        display: flex;
        justify-content: space-between;
        margin: unit(@lineheight,px) auto;
        margin: unit(@lineheight/@base,rem) auto;
    }
    .layout--grid-span1,
    .layout--grid-span2 {
        border: unit(@layout_gap,px) solid transparent;
    }
    
    
    .layout--grid-span1 {
        //max-width: unit((@layout_narrow/2) - @layout_gap,px);
        flex-shrink: 70;
    }
    .layout--grid-span2 {
        //max-width: unit(@layout_narrow,px);
        flex-shrink: 30;
    }
}