//single column

.l-column {
    max-width: unit(@layout_narrow/@base,rem);
    margin: unit(@layout_gap,px);
    margin: unit(@layout_gap/@base,rem);
}

@media screen and (min-width:unit(((@layout_narrow + @layout_gap)/@base),rem)) {
    .l-column {
        margin: unit(@lineheight,px) auto;
        margin: unit(@lineheight/@base,rem) auto;
    }
}

//grid

.l-grid {
    max-width: unit(@layout_wide/@base,rem);
    margin: unit(@layout_gap,px);
    margin: unit(@layout_gap/@base,rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;      
}

.l-grid-span-1,
.l-grid-span-2,
.l-grid-span-half,
.l-grid-span {
    flex-basis: 100%;
}

.l-grid-span-micro {
    flex-basis: 100%/10;
    img {
        max-width: 100%;
        display: block;
    }
}



@media screen and (min-width:unit((@layout_medium/@base),rem)) {
    .l-grid {
        
        margin: unit(@lineheight,px) auto;
        margin: unit(@lineheight/@base,rem) auto;
    }
    .l-grid-span-1,
    .l-grid-span-2,
    .l-grid-span-half {
        > * {
            margin: 0 unit(@layout_gap/2,px);
            margin: 0 unit(@layout_gap/@base/2,rem);
        }
    }
    
    
    .l-grid-span-1 {
        flex-basis: 100%/3;
    }
    .l-grid-span-2 {
        flex-basis: (100%/3) * 2;
    }
    .l-grid-span-half {
        flex-basis: 50%;
    }
    .l-grid-span {
        flex-basis: 100%;
    }
    
    .l-grid-span-micro {
        flex-basis: 100%/15;
    }
    
}