<article class="layout--grid-span-half">
    <div class="teaser s-prose">
        
        <header class="teaser-header">Archives from {{ include.year }}</header> 
        
        
        
        <div class="gallery">
            <ol class="galler-row">
            {% assign c = 0 %}
            {% assign c_notes = 0 %}
            {% assign c_diary = 0 %}
            {% assign c_gallery = 0 %}
            {% assign sorted_posts = (site.posts | sort: 'title') %}
            {% for post in site.posts %}
                {% assign postYear = post.date | date: "%Y" %}
                
                {% if postYear == include.year %}
                    {% case post.categories[0] %}
                            {% when 'notes' %}
                                {% assign c_notes = c_notes | plus: 1 %}
                            {% when 'diary' %}
                                {% assign c_diary = c_dairy | plus: 1 %}
                            {% when 'gallery' %}
                                {% assign c_diary = c_gallery | c_gallery: 1 %}
                    {% endcase %}
                {% endif %}
                
                {% if postYear == include.year and c <= include.gallery_size %}
                
                    {% case post.categories[0] %}
                        {% when 'diary' %}
                            
                            {% assign currentImage = post.images[0].image %}
                            {% for exif in site.data.diary %}
                                {% if exif.SourceFile == currentImage %}
                                    {% capture width %}{{ exif.ImageWidth }}{% endcapture %}
                                    {% capture height %}{{ exif.ImageHeight }}{% endcapture %}
                                {% endif %}
                            {% endfor %}
                            
                        {% when 'gallery' %}
                            
                            {% assign currentImage = post.images[0].image %}
                            {% capture width %}{{ post.images[0].width }}{% endcapture %}
                            {% capture height %}{{ post.images[0].height }}{% endcapture %}
                            
                        {% when 'notes' %}
                        
                            {% assign currentImage = post.images[0] %}
                            {% for exif in site.data.notes %}
                                {% if exif.SourceFile == currentImage %}
                                    {% capture width %}{{ exif.ImageWidth }}{% endcapture %}
                                    {% capture height %}{{ exif.ImageHeight }}{% endcapture %}
                                {% endif %}
                            {% endfor %}

                    {% endcase %}
                
                
                    <li class="gallery-item">
                        <a href="{{ site.baseurl }}/archives/{{ include.year }}">
                            <img src="{{ site.roobottom_assets }}/{{ post.categories[0]}}/small/{{ currentImage }}" class="gallery-image" data-width="{{ width }}" data-height="{{ height }}"/>
                            <p>{{ c }}</p>
                        </a>
                    </li>
                {% endif %}
                {% assign c = c | plus: 1 %}
            {% endfor %}
            </ol>
        </div>
        
        <h2><a href="{{ site.baseurl }}/archives/{{ include.year }}">{{ include.year }}</a></h2>
        <p class="u-meta">{{ c_diary }} diary posts, {{ c_gallery }} galleries, {{ c_notes }} notes</p>
        
    </div>
</article>