.calendar {
    .margin-bottom();
    display: flex;
    flex-wrap: wrap; 
    
    li {
        background-size: cover;
        background-repeat: no-repeat;
        flex: 1;
        margin: unit(@lineheight/4/@base,rem);
        display: flex;
        min-width: 200px;
    }
    
    a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background-color: fade(red,40%);
        box-sizing: border-box;
        padding: unit(@lineheight/4/@base,rem);
        color: white;
    }
    
    .calendar-title,
    .calendar-time {
        display: block;
    }
    

    
}