.calendar {
    .margin-bottom();
    display: flex;
    flex-wrap: wrap; 
    
    .item-diary {
        background-color: @blue;
        border: 5px solid @blue;
    }
    .item-notes {
        background-color: @yellow;
        border: 5px solid @yellow;
    }
    .item-gallery {
        background-color: @red;
        border: 5px solid @red;
    }
    
    a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        box-sizing: border-box;
        color: white;
        flex: auto;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
    }
    
    
    
}