.pagination {

    border-top: 1px solid lighten(@grey,15%);
    padding: unit(@lineheight/2,px) 0;
    padding: unit((@lineheight/2)/@base,rem) 0;
    
    li,
    .pagination-label,
    a {
        display: block;
    }
    
    .pagination-next {
        text-align: right;
        margin-left: auto;
    }
    
    
    
    @media screen and (min-width:unit(@layout_narrow,px))  {
        display: flex;
        justify-content: space-between;
        
    }
    
}