.tags {
    display: flex;
    flex-wrap: wrap;
    .margin-bottom(2);
    border-top: 1px solid lighten(@grey,15%);
    padding: unit(@lineheight/2,px) 0;
    padding: unit((@lineheight/2)/@base,rem) 0;
    
    padding-bottom: 0;
    font-size: 80%;
    
    li {
      .margin-bottom(2);
      margin-right: unit(@layout_gap,px);
      margin-right: unit(@layout_gap/@base,rem);
      color: darken(@grey,10%);
      &:before {
        content: "#";
      }
    }
    
    a {
        color: darken(@grey,10%);
    }
    
    
}