.teaser {
    
    background-color: white;
    
    //pull this box out to meet the edges of the screen
    margin-left: unit(-1 * @layout_buffer,px);
    margin-right: unit(-1 * @layout_buffer,px);
    margin-left: unit(-1 * @layout_buffer/@base,rem);
    margin-right: unit(-1 * @layout_buffer/@base,rem);
    
    padding: 0 unit(@lineheight,px);
    padding: 0 unit(@lineheight/@base,rem);
    overflow: hidden;
    box-shadow: 0 1px 3px fade(black,10%);
    
    
    figure, .gallery {
        //pull these items out to meet the edges of this box.
        margin-left: unit(-1 * @lineheight,px);
        margin-right: unit(-1 * @lineheight,px);
        margin-left: unit(-1 * @lineheight/@base,rem);
        margin-right: unit(-1 * @lineheight/@base,rem);
        
    }
    
    @media screen and (min-width:unit((@layout_narrow + @layout_buffer*6),px)) {
       padding: 0 unit(@lineheight*1.5,px);
       padding: 0 unit(@lineheight*1.5/@base,rem); 
       margin-left: 0;
       margin-right: 0;
       
       
       figure, .gallery {
            //pull these items out to meet the edges of this box.
            margin-left: unit(-1 * @lineheight*1.5,px);
            margin-right: unit(-1 * @lineheight*1.5,px);
            margin-left: unit(-1 * @lineheight*1.5/@base,rem);
            margin-right: unit(-1 * @lineheight*1.5/@base,rem);
            
        }
       
    }
     
}