.teaser {
    
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 unit(@lineheight,px);
    padding: 0 unit(@lineheight/@base,rem);
    box-shadow: 0 1px 3px fade(black,10%);
    margin-bottom: unit(@lineheight,px);
    margin-bottom: unit(@lineheight/@base,rem);
    border: 1px solid lighten(@grey,10%);
    
    .teaser-header {
        //pull these items out to meet the edges of this box.
        margin-left: unit(-1 * @lineheight,px);
        margin-right: unit(-1 * @lineheight,px);
        margin-left: unit(-1 * @lineheight/@base,rem);
        margin-right: unit(-1 * @lineheight/@base,rem);
        
        margin-bottom: unit(@lineheight,px);
        margin-bottom: unit(@lineheight/@base,rem);
    }
    
    .teaser-header {
        padding: unit(@lineheight/2,px) unit(@lineheight,px);
        padding: unit(@lineheight/2/@base,rem) unit(@lineheight/@base,rem); 
        
        background: lighten(@grey,15%);
        font-size: 80%;
        text-transform: uppercase;
        
    }
    
    .teaser-footer {
        margin-left: unit(-1 * @lineheight,px);
        margin-right: unit(-1 * @lineheight,px);
        margin-left: unit(-1 * @lineheight/@base,rem);
        margin-right: unit(-1 * @lineheight/@base,rem); 
        padding: unit(@lineheight,px) unit(@lineheight,px);
        padding: unit(@lineheight/@base,rem) unit(@lineheight/@base,rem); 
        border-top: 1px solid lighten(@grey,10%);
        
    }
    
    //mods for teasers
    figcaption {
        padding: 0 unit(@lineheight,px);
        padding: 0 unit(@lineheight/@base,rem);
    }
    
    &.teaser--diary .teaser-header {
        background-color: lighten(@blue,40%);
    }
    
    &.teaser--notes .teaser-header {
        background-color: lighten(@yellow,20%);
    }
    
    &.teaser--gallery .teaser-header {
        background-color: lighten(@red,40%);
    }
    
    
}