

.margin-bottom() {
    margin-bottom: unit(@lineheight,px);
    margin-bottom: unit(@lineheight/@base,rem);
}

.margin-top() {
    margin-top: unit(@lineheight,px);
    margin-top: unit(@lineheight/@base,rem);
}