.margin-bottom(@div:1) {
    margin-bottom: unit(@lineheight/@div,px);
    margin-bottom: unit((@lineheight/@div)/@base,rem);
}

.margin-top(@div:1) {
    margin-top: unit(@lineheight/@div,px);
    margin-top: unit((@lineheight/@div)/@base,rem);
}