{% assign category = page.categories[0] %}

<ul class="pagination">  
    {% for post in site.categories[category] %}
        {% assign postDate = post.date | date: '%s' %}
        {% assign pageDate = page.date | date: '%s' %}
        {% if postDate == pageDate %}
            {% assign nextIndex = forloop.index0 | minus: 1 %}
            {% assign prevIndex = forloop.index0 | plus: 1 %}
            {% assign prev = site.categories.[category][prevIndex]  %}
            {% assign next = site.categories.[category][nextIndex] %}
            
            {% assign nextDate = site.categories.[category][nextIndex].date | date: '%s'  %}
            {% assign prevDate = site.categories.[category][prevIndex].date | date: '%s'  %}
            {% assign nowDate = page.date | date: '%s' %}
            
            {% assign nextDateDiff = nextDate | minus: nowDate | divided_by: 86400 %}
            {% assign prevDateDiff = nowDate | minus: prevDate | divided_by: 86400 %}
            
            {% capture nextDateText %}
                {% include fuzzy-date.html daysDiff=nextDateDiff label='later' %}
            {% endcapture %}
            
            {% capture prevDateText %}
                {% include fuzzy-date.html daysDiff=prevDateDiff label='previously' %}
            {% endcapture %}
            
            
            {% unless forloop.last %}
                <li class="pagination-previous"><span class="pagination-label">&lArr; {{ include.prevTitle }}</span><a href="{{ site.baseurl }}{{ prev.url }}">{{ prev.title }}</a><span class="pagination-meta">{{ prevDateText }}</span></li>
            {% endunless %}
            {% unless forloop.first %}
                <li class="pagination-next"><span class="pagination-label">{{ include.nextTitle }} &rArr;</span><a href="{{ site.baseurl }}{{ next.url }}">{{ next.title }}</a><span class="pagination-meta">{{ nextDateText }}</span></li>
            {% endunless %}
        {% endif %}
    {% endfor %}
</ul>