---
title: Notes
layout: default
categories:
     - notes
---

<h1 class="u-centre">Notes</h1>

    {% for post in site.categories.notes | limit:21 %}
    
        {% capture this_month %}{{ post.date | date: '%m' }}{% endcapture %}
        {% capture next_month %}{{ post.next.date | date: '%m' }}{% endcapture %}
        
        {% if this_month != next_month %}
            {% if forloop.index != 1 %}
                </section>
            {% endif %}
                <h2 class="repel--1 u-centre">{{ post.date | date: '%B %Y' }}</h2>
                <section class="layout--grid">
        {% endif %}
        
        {% capture count %}{{ post.images | size }}{% endcapture %}
        

        <div class="layout--grid-span1">
            <article class="s-prose teaser teaser--notes"> 
                <figure>
                    <a href="{{ site.baseurl }}{{ post.url }}">
                        <img src="{{ site.roobottom_assets }}/{{ post.categories[0] }}/square/{{ post.images[0] }}" />
                        <div class="u-figure-count">{{ count }} image{% if count != '1' %}s{% endif %} &amp; {{ post.content | number_of_words }} words</div>
                    </a>
                </figure>
                {% assign titleWords = post.title | split:&nbsp; %}
                {% capture cleanTitle %}{% for word in titleWords %}{% if forloop.last %}&nbsp;{% else %} {% endif %}{{ word }}{% endfor %}{% endcapture %}
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ cleanTitle }}</a></h2>
                <p class="u-meta"><time>{{ post.date | date: "%A, %B %e %Y" }}</time></p>
            </article>
        </div>

        
        {% if forloop.last %}
            </section>
        {% endif %}
        
    {% endfor %}

<div class="s-prose">
    <p class="u-centre">Older posts can be found in the <a href="{{ site.baseurl }}/archives">archives</a></p>
</div>