.prose {
  font-size: unit(@paragraph,px);
  font-size: unit(@paragraph/@base,rem);
  line-height: @lineheight/@paragraph;
  
//basic text styling

  p, ul, ol, dl, table {
	  color: #333;
  }
  
  p, >ul, >ol {
    .margin-bottom();
  }
  
  a {
	  transition: color 200ms ease;
	  background-image: linear-gradient(to top, white, white 2px, @blue 2px, @blue 3px, white 3px);
	  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	  text-decoration: none;
	  color: #333;
  }

  a:hover, a:focus {
      color: darken(@blue,10%);
  }
  
  em, i {
      font-style: italic;
  }
  
  strong, b {
      font-weight: bold;
  }
  
  em strong, i strong,
  em b, i b,
  strong em, strong i,
  b em, b i {
      font-style: italic;
      font-weight: bold;
  }
  
//spacing

    h2, h3, h4, h5, h6, >figure, >.gallery, >img {
        .margin-top();
    }  
   
//lists

  ul  {
    list-style: disc;
    ul {
      list-style: circle;
      ul {
        list-style: square;
      }
    }
  }
  
  ol {
    list-style: decimal;
    ol {
      list-style: lower-roman;
      ol {
        list-style: lower-latin;
      }
    }
  }
  
  ul ul, ul ol, ol ol, ol ul {
    margin-left: 3em;
  }
  
//figures & images
	
	img {
		display: block;
		max-width: 100%;
	}
	
	figure {
		margin: unit((@lineheight - 1),px) 0;
	    margin: unit((@lineheight - 1)/@base,rem) 0;
	    border-bottom: 1px solid lighten(@grey,40%);
		
		figcaption {
			font-size: 13px;
			font-size: unit(13/@base,rem);
			line-height: @lineheight/13;
			color: @grey;
			font-style: italic;
		}
		
	}
	

//hr
    
    hr {
        border-top: 2px dashed @grey;
        border-bottom: none;
        .margin-bottom();
    }
    
//blockquotes
    
    blockquote {
        padding-left: 2em;
        border-left: 3px solid @grey;
        p, ul, ol, dl, table {
           color: darken(@grey,40%); 
        }
    }    
  
//code 

    code {
        font-family: 'source code', monospace;
        font-feature-setting: 'liga' 0;
    }
    
    p >code {
        color: @red;
        margin: 0 .1em;
    }
  
}