//global font styles

body {
    font-family: "Sentinel SSm A", "Sentinel SSm B","Charter","Baskerville",serif;
    font-size: unit(@paragraph,px);
    font-size: unit(@paragraph/@base,rem);
    line-height: @lineheight/@paragraph;
    color: #333;
    
    @media screen and (min-width:unit((@layout_narrow + @layout_gap),px)) {
        font-size: unit(@ls_paragraph,px);
        font-size: unit(@ls_paragraph/@base,rem);
        line-height: @lineheight/@ls_paragraph;
    }
    
}

h1,h2,h3,h4,h5,h6, .tags, .u-meta, .teaser .teaser-header {
    font-family: "Whitney SSm A", "Whitney SSm B","Seravek","GillSans",sans-serif;
}

code {
    font-family: 'Menlo', monospace;
    font-size: 80%;
}

h1, h2, h3, h4 {
    //font-weight: bold;
}

//headings

h1,h2, h3, h4, h5, h6 {
    .margin-top();
}

h1, .h1 {
  font-size: 31px;
  font-size: unit(31/@base,rem);
  line-height: 38/31;
}

h2, .h2 {
  font-size: 25px;
  font-size: unit(25/@base,rem);
  line-height: 33/25;
}

h3, .h3 {
  font-size: 19px;
  font-size: unit(19/@base,rem);
  line-height: 25/19;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: @lineheight/16;
  color: #333;
  text-transform: uppercase;
}

@media screen and (min-width:unit((@layout_narrow + @layout_gap),px)) {
    h1, .h1 {
      font-size: 43px;
      font-size: unit(43/@base,rem);
      line-height: 57/43;
    }
    
    h2, .h2 {
      font-size: 32px;
      font-size: unit(32/@base,rem);
      line-height: 45/32;
    }
    
    h3, .h3 {
      font-size: 22px;
      font-size: unit(22/@base,rem);
      line-height: 27/22;
    }
}



p, ul, ol, dl, table {
  color: #333;
}

abbr {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    cursor: help;
    &:hover {
        background-color: lighten(@yellow,20%);
    }
}

//hr
    
hr {
    border-top: 2px dashed @grey;
    border-bottom: none;
}


em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

em strong, i strong,
em b, i b,
strong em, strong i,
b em, b i {
  font-style: italic;
  font-weight: bold;
}  

a {
   transition: color 200ms ease; 
}

.section-diary {
    a {
        color: @blue;
    }
    a:hover {
        color: darken(@blue,30%);
    }
}

.section-notes {
    a {
        color: @yellow;
    }
    a:hover {
        color: darken(@yellow,30%);
    }
}

.section-gallery {
    a {
        color: @red;
    }
    a:hover {
        color: darken(@red,30%);
    }
}

a.link-diary {
  color: @blue;
}
a.link-diary:hover {
  color: darken(@blue,30%);
}


a.link-gallery {
  color: @red;
}
a.link-gallery:hover {
  color: darken(@red,30%);
} 

a.link-notes {
  color: @yellow;
}
a.link-notes:hover {
  color: darken(@yellow,30%);
} 