//global font styles

body {
    font-family: "Sentinel SSm A", "Sentinel SSm B","Charter","Baskerville",serif;
    font-size: unit(@paragraph,px);
    font-size: unit(@paragraph/@base,rem);
    line-height: @lineheight/@paragraph;
    color: #333;
    
    @media screen and (min-width:unit((@layout_narrow + @layout_buffer),px)) {
        font-size: unit(@ls_paragraph,px);
        font-size: unit(@ls_paragraph/@base,rem);
        line-height: @lineheight/@ls_paragraph;
    }
    
}

h1,h2,h3,h4,h5,h6, .tags, .u-meta {
    font-family: "Whitney SSm A", "Whitney SSm B","Seravek","GillSans",sans-serif;
}

code {
    font-family: 'Menlo', monospace;
    font-size: 80%;
}

h1, h2, h3, h4 {
    //font-weight: bold;
}

//headings

h1,h2, h3, h4, h5, h6 {
    .margin-top();
}

h1 {
  font-size: 33px;
  font-size: unit(33/@base,rem);
  line-height: @lineheight*1.5/33;
}

h2 {
  font-size: 25px;
  font-size: unit(25/@base,rem);
  line-height: @lineheight*1.5/25;
}

h3 {
  font-size: 19px;
  font-size: unit(19/@base,rem);
  line-height: @lineheight/18;
}

h4, h5, h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: @lineheight/16;
  color: #333;
  text-transform: uppercase;
}

@media screen and (min-width:unit((@layout_narrow + @layout_buffer),px)) {
    h1 {
      font-size: 54px;
      font-size: unit(54/@base,rem);
      line-height: @lineheight*2/54;
    }
    
    h2 {
      font-size: 32px;
      font-size: unit(32/@base,rem);
      line-height: @lineheight*1.4/32;
    }
    
    h3 {
      font-size: 22px;
      font-size: unit(22/@base,rem);
      line-height: @lineheight*1.5/22;
    }
}



p, ul, ol, dl, table {
  color: #333;
}

abbr {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    cursor: help;
    &:hover {
        background-color: lighten(@yellow,20%);
    }
}

//hr
    
    hr {
        border-top: 2px dashed @grey;
        border-bottom: none;
    }
    