---
layout: default
---
<section class="layout--column">
    
    <h1 class="u-centre repel--1">{{ page.title }}</h1>
    {% include _components/year-summary.html year=page.year %}
    {% for post in site.posts %}
        {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if post_year == page.year %}
        
            {% capture this_month %}{{ post.date | date: '%m' }}{% endcapture %}
            {% capture next_month %}{{ post.next.date | date: '%m' }}{% endcapture %}
                
                {% case post.categories[0] %}
                    {% when 'notes' %}
                        {% assign currentImage = post.images[0] %}
                        {% assign currentSize = 'thumbnail' %}
                    {% when 'diary' %}
                        {% assign currentImage = post.images[0].image %}
                        {% assign currentSize = 'small' %}
                    {% when 'gallery' %}
                        {% assign currentImage = post.images[0].image %}
                        {% assign currentSize = 'small' %}
                {% endcase %}
                
                
                {% if this_year != next_year or forloop.index == 1 %}
                    {% if forloop.index != 1 %}
                        </ol>
                    {% endif %}
                        <h2 class="u-centre repel--1">{{ post.date | date: '%M' }}</h2>
                        {% include _components/year-summary.html year=this_year %}
                         <ol class="timeline pull--both">
                {% endif %}
                
                <li>
                <a href="{{ site.baseurl }}{{ post.url }}" class="item-{{ post.categories[0] }}">
                    <span class="timeline-title">{{ post.title }}</span>
                    <time class="timeline-date">{{ post.date | date: "%a, %b %e" }}</time>
                </a>
                </li>
                
                {% if forloop.last %}
                </ol>
                {% endif %}
                
                      
        {% endif %}
    {% endfor %}

</section>