---
layout: default
---
<article class="l-column">
    <div class="s-prose">
        {% include _components/breadcrumb.html section='diary' %}
        <h1 class="pull-extended u-centre">{{ page.title }}</h1>
        <p class="u-meta u-centre"><time>{{ page.date | date: "%A, %e %B %Y" }}</time></p>
        {{ content }}
    </div>
    
    <footer class="s-meta"> 
        {% include _components/paginate-each-post.html prevTitle = 'Previous diary post' nextTitle = 'Next diary post' %}
        {% include _components/tags.html %}
    </footer>
    
</article>