---
layout: default
---

 <article>
    <div class="s-prose">
        <h1>{{ page.title }}</h1>
        <p class="u-meta"><time>{{ page.date | date: "%A, %B %e %Y" }}</time></p>
        
        <div class="gallery pull--extended">
            <ol class="gallery-row">
                {% for image in page.images %}
                    {% capture fullImagePath %}{{ site.roobottom_assets }}/gallery/medium/{{ image.image }}{% endcapture %}
                    <li class="gallery-item"><img src="{{ fullImagePath }}" class="gallery-image" data-width="{{ image.width }}" data-height="{{ image.height }}"/></li>
                {% endfor %}
            </ul>
        </div>
        {{ content }}
    </div>
    
    <footer class="s-meta">
        <ul class="tags">
        {% for tag in page.tags %}
            <li><a href="{{ site.baseurl }}/archives">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </footer>
    
</article>