---
layout: default
---

 <article class="layout--column">
    <div class="s-prose">
        <p class="u-breadcrumb u-centre">You are here: <a href="{{ base.url }}/">home</a> &rArr; <a href="{{ base.url }}/gallery">gallery</a> &rArr;</p>
        <h1 class="pull--extended u-centre">{{ page.title }}</h1>
        <p class="u-meta u-centre"><time>{{ page.date | date: "%A, %B %e %Y" }}</time></p>
        
        <div class="gallery pull--extended">
            <ol class="gallery-row">
                {% for image in page.images %}
                    {% capture fullImagePath %}{{ site.roobottom_assets }}/gallery/medium/{{ image.image }}{% endcapture %}
                    <li class="gallery-item"><img src="{{ fullImagePath }}" class="gallery-image" data-width="{{ image.width }}" data-height="{{ image.height }}"/></li>
                {% endfor %}
            </ul>
        </div>
        {{ content }}
    </div>
    
    <footer class="s-meta">
        <ul class="pagination">
            {% if page.previous and page.previous.categories[0] == page.categories[0] %}
                <li class="pagination-previous"><span class="pagination-label">&lArr; Previous gallery</span><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
            {% endif %}
            {% if page.next and page.next.categories[0] == page.categories[0] %}
                <li class="pagination-next"><span class="pagination-label">Next gallery &rArr;</span><a href="{{ page.next.url }}">{{ page.next.title }}</a></li>
            {% endif %}
        </ul>
        <ul class="tags">
        {% for tag in page.tags %}
            <li><a href="{{ site.baseurl }}/archives">{{ tag }}</a></li>
        {% endfor %}
        </ul>
    </footer>
    
</article>