---
layout: default
---

 <article class="layout--column">
    <div class="s-prose">
        {% include _components/breadcrumb.html section='gallery' %}
        <h1 class="pull--extended u-centre">{{ page.title }}</h1>
        <p class="u-meta u-centre"><time>{{ page.date | date: "%A, %e %B %Y" }}</time></p>
        
        <div class="gallery pull--extended">
            <ol class="gallery-row">
                {% for image in page.images %}
                    {% capture fullImagePath %}{{ site.roobottom_assets }}/gallery/medium/{{ image.image }}{% endcapture %}
                    <li class="gallery-item">
                        <a href="{{ site.roobottom_assets }}/gallery/large/{{ image.image }}" class="js-lightbox">
                            <img src="{{ fullImagePath }}" class="gallery-image" data-width="{{ image.width }}" data-height="{{ image.height }}"/>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ content }}
    </div>
    
    <footer class="s-meta">
        {% include _components/paginate-each-post.html prevTitle = 'Previous gallery' nextTitle = 'Next gallery' %}
        {% include _components/tags.html %}
    </footer>
    
</article>