//global base size
@base:                      16;

//baseline grid
@lineheight:                32;
@paragraph:                 19;


//layouts
@layout_posts:              670; //the max width for text 
@max_pull_width:            980; //the max with pulled items can stretch to.


//colours
@blue:                      #3A99D9;
@grey:                      #cccccc;
@red:                       #ed3046;

//includes
@import '__includes/reset';
@import '__includes/mixins';
@import '__includes/styleguide';

//layouts
@import '_layouts/layouts';
@import '_layouts/push-pull';

//components
@import '_components/gallery';
@import '_components/tags';

//type
@import '_typography/typography';
@import '_typography/prose';
@import '_typography/utilities';